.style{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.style2{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100%;
  font-style: normal;
}

#header{
  padding-left: 25%;
  padding-right: 25%;
}

#header-image{
  position: relative;
  width: 100%;
  height: 100%;
}

#header-text{
  position: absolute;
  font-size: 350%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#first-section{
  padding-left: 25%;
  padding-right: 25%;
  display: flex;
}

#first-section-left{
  width: 50%;
}

#first-section-right{
  width: 50%;
}

#first-section-header{
  font-size: 250%;
}

#first-section-text{
  font-size: 160%;
}

#first-section-image{
  width: 100%;
}

#second-section{
  padding-left: 25%;
  padding-right: 25%;
}

#second-section-header{
  background-color: aquamarine;
  padding: 5%;
  text-align: center;
  font-size: 250%;
}

#second-section-g{
  display: flex;
}

#second-section-galery{
  display: flex;
  background-color: aquamarine;
}

#second-section-galery-first{
  width: 50%;
  padding-left: 10%;
  padding-right: 2%;
  padding-bottom: 2%;
}

#second-section-galery-text{
  text-align: center;
  font-size: 80%;
}

.second-section-galery-image{
  width: 90%;
  height: 60%;
}

#second-section-galery-second{
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

#second-section-galery-third{
  width: 50%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

#second-section-galery-four{
  width: 50%;
  padding-left: 2%;
  padding-right: 10%;
  padding-bottom: 2%;
}

#third-section{
  display: flex;
  padding-left: 25%;
  padding-right: 25%;
}

#third-section-image{
  width: 90%;
  padding-top: 15%;
}

#third-section-header{
  font-size: 250%;
}

#third-section-text{
  font-size: 160%;
}

#four-section{
  display: flex;
  padding-left: 25%;
  padding-right: 25%;
}

#four-section-g{
  display: flex;
}

#four-section-image{
  width: 100%;
  padding-bottom: 0%;
}

#space-left{
  padding-left: 25%;
}

#space-right{
  padding-right: 25%;
}

#fifth-section-text{
  background-color:rgb(3, 171, 255);
  width: 50%;
  font-size: 230%;
  text-align: center;
}

#footer{
  padding-left: 25%;
  padding-right: 25%;
}

#footer-section{
  background-color: black;
  color: aliceblue;
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 60%;
}

#footer-section-g{
  display: flex;
  width: 100%;
  padding-left: 30%;
}

#footer-section-first{
  width: 50%;
  padding-left: 5%;
}

#footer-section-second{
  width: 25%;
}

#footer-section-third{
  width: 25%;
  padding-left: 15%;
}

@media screen and (max-width: 700px) {

  #header{
    padding-left: 15%;
    padding-right: 15%;
  }

  #header-image{
    position: relative;
    width: 100%;
    height: 100%;
  }
    
  #header-text{
    position: absolute;
    font-size: 200%;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #first-section{
    padding-left: 15%;
    padding-right: 15%;
    display:block;
  }

  #first-section-left{
    width: 100%;
  }
  
  #first-section-right{
    width: 100%;
  }

  #first-section-header{
    font-size: 149%;
  }

  #first-section-text{
    font-size: 121%;
  }

  #second-section{
    padding-left: 15%;
    padding-right: 15%;
  }
  
  #second-section-header{
    background-color: aquamarine;
    padding: 5%;
    text-align: center;
    font-size: 162%;
  }

  #second-section-galery{
    display: block;
    background-color: aquamarine;
  }
  
  #second-section-galery-first{
    width: 50%;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 2%;
  }

  #second-section-galery-second{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
  }
  
  #second-section-galery-third{
    width: 50%;
    padding-left: 5%;
    padding-right: 2%;
    padding-bottom: 2%;
  }
  
  #second-section-galery-four{
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
  }

  #second-section-g{
    display: flex;
  }

  .second-section-galery-image{
    width: 90%;
    height: 70%;
  }

  #third-section{
    display: block;
    padding-left: 15%;
    padding-right: 15%;
  }
  
  #third-section-header{
    font-size: 150%;
  }
  
  #third-section-text{
    font-size: 116%;
  }

  #four-section{
    display: block;
    padding-left: 15%;
    padding-right: 15%;
  }

  #four-section-image{
    width: 50%;
    padding-bottom: 0%;
  }

  #space-left{
    padding-left: 15%;
  }
  
  #space-right{
    padding-right: 15%;
  }

  #fifth-section-text{
    background-color:rgb(3, 171, 255);
    width: auto;
    font-size: 140%;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
  }

  #footer{
    padding-left: 15%;
    padding-right: 15%;
  }
  
  #footer-section{
    background-color: black;
    color: aliceblue;
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 60%;
  }
  
  #footer-section-first{
    width: 50%;
    padding-left: 5%;
  }
  
  #footer-section-second{
    width: 25%;
    padding-left: 5%;
  }

  #footer-section-third{
    width: 25%;
    padding-left: 5%;
  }

  #footer-section-g{
    display: flex;
    width: 100%;
    padding-left: 0%;
  }
}