.style{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.style2{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100%;
  font-style: normal;
}

#header{
  padding-left: 25%;
  padding-right: 25%;
}

#header-image{
  position: relative;
  width: 100%;
  height: 100%;
}

#header-text{
  position: absolute;
  font-size: 350%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#first-section{
  padding-left: 25%;
  padding-right: 25%;
  display: flex;
}

#first-section-left{
  width: 50%;
}

#first-section-right{
  width: 50%;
}

#first-section-header{
  font-size: 250%;
}

#first-section-text{
  font-size: 160%;
}

#first-section-image{
  width: 100%;
}

#second-section{
  padding-left: 25%;
  padding-right: 25%;
}

#second-section-header{
  background-color: aquamarine;
  padding: 5%;
  text-align: center;
  font-size: 200%;
}